
body {
	padding: 0;
	margin: 0;
	background: #eee;
}

h1 {
	font-family: 'Comfortaa',cursive;
	text-align: center;
}

a {
	color: #a0c409;
	text-decoration: none;
	transition: all 0.25s ease-out;
}

a:hover {
	color: #c6db6b;
	text-decoration: none;
}

a:active {
	color: #607505;
}

.top-banner {
	width: 100%;
	height: 300px;
	display: block;
	background: url("../img/header-banner-image.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
/* Nav menu */
.menu {
	background: #222;
	border: none;
	border-radius: 0;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

nav li {
	transition: all 0.25s ease-out;
}

nav li:hover {
	transform: scale(1.1);
}

nav .dropdown-menu li a:hover {
	background: #61b8e4;
	color: white;
	padding: 0 5px
}

nav .contact-nav li {
	display: inline-block;
	text-align: right;
	padding: 0 2%;
}

.menulinks li:hover {
	background-color: #0099ff;
}

/*Content*/
.container{
	display: block;

	margin: 4% auto;
	padding: 2% 2%;

	width: 98%;
	height: 100%;

	font-family: 'Fira Sans', sans-serif;
	
	background: white;
}

.inner-container {
	width: 100%;
}

.container h1 { 
	margin-bottom: 4%;
}

.container .card {
	display: inline-block;
	margin: 0 auto;
	padding: 2% 1%;
}

/* Footer styles */
footer {
	width: 100%;
	height: 55px;

	padding: 15px 1%;

	color: white;
	background: #222;

	text-align: center;
}

footer .footer-info a:hover {
	border-bottom: 1px dotted white;
}

footer .footer-title {
	text-align: center;
}

footer .footer-icons {
	margin: 0 5px;
}

footer .social-icons {
	width: 25px;
	height: 25px;

	border-radius: 5px;
	transition: all 0.2s ease-out;
}

footer .social-icons:hover {
	transform: scale(1.25);
}

/**
*	CUSTOM CLASSES
*/
.visually-hidden {
	display: none;
	opacity: 0;
}

.float-right {
	float: right !important;
}

.float-left {
	float: left !important;
}